<configuration scan="true" scanPeriod="10 seconds">

  <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel" />

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSZ",Europe/Moscow} %coloredLevel %logger [%mdc] - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="async-stdout" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="stdout" />
  </appender>

  <appender name="async-logstash" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>${LOGSTASH_DESTINATION}</destination>
      <reconnectionDelay>10 second</reconnectionDelay>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
  </appender>

  <!-- Set logging for all Play library classes to INFO -->
  <logger name="play" level="INFO" />
  <!-- Set logging for all Akka library classes to INFO -->
  <logger name="akka" level="INFO" />
  <!-- Set logging for all Lagom library classes to INFO -->
  <logger name="com.lightbend.lagom" level="INFO" />

  <logger name="ru.shadewallcorp.jiraTasks" level="INFO" />

  <root level="INFO">
    <appender-ref ref="async-stdout" />
    <appender-ref ref="async-logstash"/>
  </root>

</configuration>